body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 20px;
}

.container {
    display : flex;
    flex-wrap : wrap;
    align-items: center;
    width : 960px;
}

.squares {
    box-sizing:border-box;
    border : 1px solid black;
}

#button{
    padding : 10px 20px,;
    font-size : 24px;
    cursor: pointer;
    margin-bottom : 20px;
}